<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">Web development Ebook</h1>
            <h1><p class="lead">Written and edited by Nabil</p></h1>
            <form action="/charge" method="POST">
            <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="pk_test_c5eWbqrcngFmfG6xnGpf3HQh008aGNmJ6a"
            data-amount="2500"
            data-name="Nabeel Book"
            data-description="Ebook written by Nabeel"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
            </script>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/book.png" class="img-fluid" width="250" height="250">
        </div>
    </div>
</section>